<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            class="form-control"
            name="nom"
            [(ngModel)]="form.nom"
            required
            minlength="3"
            maxlength="20"
            #nom="ngModel"
          />
          <div class="alert-danger" *ngIf="nom.errors && f.submitted">
            <div *ngIf="nom.errors['required']">Nom is required</div>
            <div *ngIf="nom.errors['minlength']">
              nom must be at least 3 characters
            </div>
            <div *ngIf="nom.errors['maxlength']">
              nom must be at most 20 characters
            </div>
          </div>
        </div>
  
  
  
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input
            type="text"
            class="form-control"
            name="prenom"
            [(ngModel)]="form.prenom"
            required
            minlength="3"
            maxlength="20"
            #prenom="ngModel"
          />
          <div class="alert-danger" *ngIf="prenom.errors && f.submitted">
            <div *ngIf="prenom.errors['required']">Prenom is required</div>
            <div *ngIf="prenom.errors['minlength']">
              prenom must be at least 3 characters
            </div>
            <div *ngIf="prenom.errors['maxlength']">
              nom must be at most 20 characters
            </div>
          </div>
        </div>
  
  
  
  
  
  
        <div class="form-group">
          <label for="numero">numero</label>
          <input
            type="text"
            class="form-control"
            name="numero"
            [(ngModel)]="form.numero"
            required
            minlength="3"
            maxlength="20"
            #numero="ngModel" />
         
        </div>
  
  
  
  
  
  
  
  
  
  
  
  
        <div class="form-group">
          <label for="mail">mail</label>
          <input
            type="mail"
            class="form-control"
            name="mail"
            [(ngModel)]="form.mail"
            required
            mail
            #mail="ngModel"
          />
          <div class="alert-danger" *ngIf="mail.errors && f.submitted">
            <div *ngIf="mail.errors['required']">mail is required</div>
            <div *ngIf="mail.errors['mail']">
              mail must be a valid mail address
            </div>
          </div>
        </div>
  
  
  
  
  
        
  
  
        <div class="form-group">
          <label for=" adresse"> adresse</label>
          <input
            type="text"
            class="form-control"
            name=" adresse"
            [(ngModel)]="form.adresse"
            required
            minlength="3"
            maxlength="20"
            #adresse="ngModel"
          />
          <div class="alert-danger" *ngIf=" adresse.errors && f.submitted">
            <div *ngIf=" adresse.errors['required']"> adresse is required</div>
            <div *ngIf=" adresse.errors['minlength']">
              adresse must be at least 3 characters
            </div>
            <div *ngIf=" adresse.errors['maxlength']">
              adresse must be at most 20 characters
            </div>
          </div>
        </div>
  
  
  
  
  
        
        <div class="form-group">
          <label for=" gouvernorat"> gouvernorat</label>
          <input
            type="text"
            class="form-control"
            name="gouvernorat"
            [(ngModel)]="form.gouvernorat"
            required
            minlength="3"
            maxlength="20"
            #gouvernorat="ngModel"
          />
          <div class="alert-danger" *ngIf=" gouvernorat.errors && f.submitted">
            <div *ngIf=" gouvernorat.errors['required']"> gouvernorat is required</div>
            <div *ngIf=" gouvernorat.errors['minlength']">
              gouvernorat must be at least 3 characters
            </div>
            <div *ngIf=" gouvernorat.errors['maxlength']">
              gouvernorat must be at most 20 characters
            </div>
          </div>
        </div>
  
  
  
  
  
  
        
  
  
  
  
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>